@use "../../styles/partials/variables" as *;
.MingaListPage {
  max-width: 80rem;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: 298fr 964fr;
    gap: 1.25rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
  }
}
