@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

.form-container {
  background-color: #FEFFFE;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba($black, 0.1);
  margin: 20px;
  padding: 20px;

  .form-header {
    background-color: $light-grey;
    padding: 20px;
    border-top: 5px solid $primary-color;
  }

  .form-section {
    margin-top: 20px;
    padding: 20px;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba($black, 0.05);
  }

  .form-heading {
    font-size: 24px;
    color: $dark-grey;
  }

  .form-group {
    margin-top: 15px;
    
    label {
      display: block;
      color: $dark-grey;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid $light-grey;
      border-radius: 4px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    input[type="file"] {
      display: block;
      margin-top: 10px;
    }
  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .submit-button,
    .preview-button {
      padding: 10px 20px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }

    .submit-button {
      background-color: $primary-color;
      color: $white;
    }

    .preview-button {
      background-color: $secondary-color;
      color: $white;
    }
  }
}
