@use "../partials/mixins.scss" as *;
@use "../partials//typography.scss" as *;
@use "../partials/variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  background-color: $Background-white;
  margin-top: 0;
}
