// Primary Colours
$Dark-text:#363473;
$Grey-text: #8E909B;
$Green-text: #308C50;
$Blue-links: #383EA6;
$Background-white: #F2F2F2;
$Orange-button: #F2911B;

// Secondary Colours
$Red:   #F24957;
$Purple:   #9144A6;
$Blue:   #2681DA;
$Green:    #383EA6;
$Orange: #F2911B;

//Footer Colour
$Footer-grey: #434959;
