// Primary Colours
$Dark-text: #363473;
$Grey-text: #8e909b;
$Green-text: #308c50;
$Blue-links: #383ea6;
$Background-white: #f8f9f9;
$Background-grey: #f8f9f9;
$White: #fff;
$Orange-button: #f2911b;

// Secondary Colours
$Red: #f24957;
$Purple: #9144a6;
$Blue: #2681da;
$Green: #383ea6;
$Orange: #f2911b;

//Footer Colour
$Footer-grey: #3f4253;
