@use "../../styles/partials/variables" as *;

.filters {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    border-bottom: 0.6px solid #e0e0e0;
  }
}
